In [1]:
import pandas as pd
import geopy
from geopy.geocoders import Nominatim

In [2]:
d1 = pd.read_csv('localities.csv') # import file with all localities
d2 = pd.read_csv('place.csv')
d2.head()

             Localities
0             Kurmaguda
1  Rajendranagar Mandal
2             Kismatpur
3          Sivarampalli
4               Attapur

In [3]:
nom = Nominatim(user_agent="http")

In [4]:
d2['latitude'] = d2['Localities']              # caluclate latitude and longitude using OpenStreetMap API
d2['longitude'] = d2['Localities']
for i in range(len(d1['Localities'])):
    l = nom.geocode(d1['Localities'][i])
    if l != None:
        d2['latitude'][i] = l.latitude
    else:
        d2['latitude'][i] = None
    if l != None:
        d2['longitude'][i] = l.longitude
    else:
        d2['longitude'][i] = None

In [5]:
#d2 = d2.drop('Unnamed: 0', axis=1)
d2.head()

             Localities latitude longitude
0             Kurmaguda  17.3608   78.5024
1  Rajendranagar Mandal  17.3616   78.4277
2             Kismatpur  17.3344    78.385
3          Sivarampalli  17.3224   78.4306
4               Attapur  17.3672   78.4307

In [6]:
d2.to_csv('lat-long.csv') #export to csv